{{> _head }}

<body class="site-layout--landing preloader-is--active bg-image bg-fixed {{bg}} {{bg-texture}}">

	<div class="site-wrapper">

		{{> _header }}

		<!-- Content
		================================================== -->
		<main class="site-content text-center" id="wrapper">
			{{> body }}
		</main>

		<!-- Overlay -->
		<div class="site-overlay"></div>
		<!-- Overlay / End -->

		{{> _cart-panel }}

		{{> _search-panel }}

		{{> _menu-panel }}

	</div>

	{{> _preloader }}

	{{> _cursor }}

	{{> _footer-scripts }}

</body>

</html>
