---
layout: "bg-showcase"
bg: "bg--texture-01"
bg-texture: "bg--dotted-3x3"
---

<div class="site-content__center">
	<h1 class="text-white landing-title mb-0"><span class="subtitle landing-subtitle">Texture 01</span>Hexagons</h1>
	<a href="features-bg-2.html" class="btn btn-primary btn-lg btn--landing btn--icon-inverse"><span>Next Texture <i class="fas fa-angle-right"></i></span></a>
</div>
