---
layout: "bg-showcase"
bg: "bg--texture-06"
---

<div class="site-content__center">
	<h1 class="text-white landing-title mb-0"><span class="subtitle landing-subtitle">Texture 06</span>Gradient + Texture</h1>
	<a href="features-bg-7.html" class="btn btn-primary btn-lg btn--landing btn--icon-inverse"><span>Next Texture <i class="fas fa-angle-right"></i></span></a>
</div>
