---
layout: "bg-showcase"
bg: "bg--texture-02"
---

<div class="site-content__center">
	<h1 class="text-white landing-title mb-0"><span class="subtitle landing-subtitle subtitle--warning">Texture 02</span>Slanted Lines</h1>
	<a href="features-bg-3.html" class="btn btn-warning btn-lg btn--landing btn--icon-inverse"><span>Next Texture <i class="fas fa-angle-right"></i></span></a>
</div>
