---
layout: "bg-showcase"
bg: "bg--texture-07"
---

<div class="site-content__center">
	<h1 class="landing-title mb-0"><span class="subtitle landing-subtitle subtitle--danger">Texture 07</span>Light Background</h1>
	<a href="features-bg-1.html" class="btn btn-danger btn-lg btn--landing btn--icon-inverse"><span>Next Texture <i class="fas fa-angle-right"></i></span></a>
</div>
