---
layout: landing
body-class: preloader--no-transform
---

<div class="site-content__center">
	<h1 class="text-white landing-title"><span class="subtitle landing-subtitle">Esports and Streaming</span>Necromancers</h1>
	<a href="home.html" class="btn btn-primary btn-lg btn--landing"><span>Start Browsing!</span></a>
</div>
<div class="video-full-bg">
	<!-- Video Highlight -->
	<div class="video-full-bg__highlight"></div>
	<!-- Video Highlight / End -->

	<!-- Video Clip -->
	<video poster="assets/img/bg-texture-05.jpg" class="video-full-bg__clip video-full-bg__clip--black-white" playsinline autoplay muted loop>
		<source src="assets/video/video-clip.webm" type="video/webm">
		<source src="assets/video/video-clip.mp4" type="video/mp4">
	</video>
	<!-- Video Clip / End -->

	<!-- Video Decoration -->
	<div class="video-full-bg__pattern"></div>
	<!-- Video Decoration / End -->

</div>
