---
body-class: bg-image bg-fixed bg--matches-01
---

<!-- Content
================================================== -->
<main class="site-content site-content--center page" id="wrapper">
	<div class="container">
		<div class="page-heading page-heading--default text-small text-center w-100">
			<div class="page-heading__subtitle h5">
				<span class="color-primary">Saturday Jan 5th, 2018 /</span> Necromancers <span class="color-primary">vs</span> Raging Rhinos
			</div>
			<h1 class="page-heading__title h2">Xenowatch West League</h1>
		</div>

		<ul class="match-stats-links match-stats-links--main">
			<li>
				<a href="./matches-overview-1.html">
					<svg role="img" class="df-icon df-icon--match-overview">
						<use xlink:href="assets/img/necromancers.svg#match-overview"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="./matches-stats-1.html">
					<svg role="img" class="df-icon df-icon--match-stats">
						<use xlink:href="assets/img/necromancers.svg#match-stats"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="active">
					<svg role="img" class="df-icon df-icon--match-lineups">
						<use xlink:href="assets/img/necromancers.svg#match-lineups"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="./matches-replay.html">
					<svg role="img" class="df-icon df-icon--match-replay">
						<use xlink:href="assets/img/necromancers.svg#match-replay"/>
					</svg>
				</a>
			</li>
		</ul>

		<div class="matches-tabs mt-sm-auto mb-sm-auto">
			<ul class="matches-tabs__navigation nav" role="tablist">
				<li class="nav-item">
					<a href="#tab-1" role="tab" data-toggle="tab" class="active">Game 01</a>
				</li>
				<li class="nav-item">
					<a href="#tab-2" role="tab" data-toggle="tab" class="">Game 02</a>
				</li>
				<li class="nav-item">
					<a href="#tab-3" role="tab" data-toggle="tab" class="">Game 03</a>
				</li>
			</ul>
			<div class="matches-tabs__content tab-content">
				<div class="match-lineups-container tab-pane fade show active" id="tab-1" role="tabpanel">
					<table class="matches-table lineups-table lineups-table--style-1">
						<thead>
							<tr>
								<th>Player</th>
								<th class="td-role">Role</th>
								<th class="td-hero td-d-none-sm td-center-left">Hero</th>
								<th class="td-hero td-d-none-sm td-center-right">Hero</th>
								<th class="td-role">Role</th>
								<th>Player</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "01-90x60"
										name     = "James Spiegel"
										nickname = "DaVikinger90"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Ragnark</td>
								<td class="td-d-none-sm td-center-right">Grimdeath</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Marcus Jhonson"
										nickname = "Lionel-Reese"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "02-90x60"
										name     = "Julie Rodgers"
										nickname = "JULIE_NOIRE"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Valholl</td>
								<td class="td-d-none-sm td-center-right">Twisterfist</td>
								<td>
									<svg role="img" class="df-icon df-icon--tank">
										<use xlink:href="assets/img/necromancers.svg#tank"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Tess Griffin"
										nickname = "NekoKrisser"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "03-90x60"
										name     = "April Summers"
										nickname = "G-Huntress"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--support">
										<use xlink:href="assets/img/necromancers.svg#support"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Valkyrine</td>
								<td class="td-d-none-sm td-center-right">Gastion</td>
								<td>
									<svg role="img" class="df-icon df-icon--defense">
										<use xlink:href="assets/img/necromancers.svg#defense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Wesley McCoy"
										nickname = "Sam-X-99"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "04-90x60"
										name     = "Mark Jhonson"
										nickname = "Crazzzy_80"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--defense">
										<use xlink:href="assets/img/necromancers.svg#defense"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Jaxxy Reev</td>
								<td class="td-d-none-sm td-center-right">Duvida</td>
								<td>
									<svg role="img" class="df-icon df-icon--defense">
										<use xlink:href="assets/img/necromancers.svg#defense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Todd Gryson"
										nickname = "SHARK_BULLET"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "05-90x60"
										name     = "Sarah Stacy"
										nickname = "FAYEDBEBOP"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--tank">
										<use xlink:href="assets/img/necromancers.svg#tank"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Bloodshied</td>
								<td class="td-d-none-sm td-center-right">Piedad</td>
								<td>
									<svg role="img" class="df-icon df-icon--support">
										<use xlink:href="assets/img/necromancers.svg#support"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Mary Parker"
										nickname = "The Destroy"
									}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="match-lineups-container tab-pane fade" id="tab-2" role="tabpanel">
					<table class="matches-table lineups-table lineups-table--style-1">
						<thead>
							<tr>
								<th>Player</th>
								<th class="td-role">Role</th>
								<th class="td-hero td-d-none-sm td-center-left">Hero</th>
								<th class="td-hero td-d-none-sm td-center-right">Hero</th>
								<th class="td-role">Role</th>
								<th>Player</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "01-90x60"
										name     = "James Spiegel"
										nickname = "DaVikinger90"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--defense">
										<use xlink:href="assets/img/necromancers.svg#defense"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Bloodshied</td>
								<td class="td-d-none-sm td-center-right">Grimdeath</td>
								<td>
									<svg role="img" class="df-icon df-icon--defense">
										<use xlink:href="assets/img/necromancers.svg#defense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Marcus Jhonson"
										nickname = "Lionel-Reese"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "02-90x60"
										name     = "Julie Rodgers"
										nickname = "JULIE_NOIRE"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--tank">
										<use xlink:href="assets/img/necromancers.svg#tank"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Valkyrine</td>
								<td class="td-d-none-sm td-center-right">Piedad</td>
								<td>
									<svg role="img" class="df-icon df-icon--support">
										<use xlink:href="assets/img/necromancers.svg#support"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Tess Griffin"
										nickname = "NekoKrisser"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "03-90x60"
										name     = "April Summers"
										nickname = "G-Huntress"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--tank">
										<use xlink:href="assets/img/necromancers.svg#tank"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Gastion</td>
								<td class="td-d-none-sm td-center-right">Valholl</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Wesley McCoy"
										nickname = "Sam-X-99"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "04-90x60"
										name     = "Mark Jhonson"
										nickname = "Crazzzy_80"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Duvida</td>
								<td class="td-d-none-sm td-center-right">Jaxxy Reev</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Todd Gryson"
										nickname = "SHARK_BULLET"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "05-90x60"
										name     = "Sarah Stacy"
										nickname = "FAYEDBEBOP"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--support">
										<use xlink:href="assets/img/necromancers.svg#support"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Ragnark</td>
								<td class="td-d-none-sm td-center-right">Twisterfist</td>
								<td>
									<svg role="img" class="df-icon df-icon--tank">
										<use xlink:href="assets/img/necromancers.svg#tank"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Mary Parker"
										nickname = "The Destroy"
									}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="match-lineups-container tab-pane fade" id="tab-3" role="tabpanel">
					<table class="matches-table lineups-table lineups-table--style-1">
						<thead>
							<tr>
								<th>Player</th>
								<th class="td-role">Role</th>
								<th class="td-hero td-d-none-sm td-center-left">Hero</th>
								<th class="td-hero td-d-none-sm td-center-right">Hero</th>
								<th class="td-role">Role</th>
								<th>Player</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "01-90x60"
										name     = "James Spiegel"
										nickname = "DaVikinger90"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--defense">
										<use xlink:href="assets/img/necromancers.svg#defense"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Ragnark</td>
								<td class="td-d-none-sm td-center-right">Bloodshied</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Marcus Jhonson"
										nickname = "Lionel-Reese"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "02-90x60"
										name     = "Julie Rodgers"
										nickname = "JULIE_NOIRE"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Jaxxy Reev</td>
								<td class="td-d-none-sm td-center-right">Gastion</td>
								<td>
									<svg role="img" class="df-icon df-icon--tank">
										<use xlink:href="assets/img/necromancers.svg#tank"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Tess Griffin"
										nickname = "NekoKrisser"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "03-90x60"
										name     = "April Summers"
										nickname = "G-Huntress"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--support">
										<use xlink:href="assets/img/necromancers.svg#support"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Duvida</td>
								<td class="td-d-none-sm td-center-right">Twisterfist</td>
								<td>
									<svg role="img" class="df-icon df-icon--defense">
										<use xlink:href="assets/img/necromancers.svg#defense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Wesley McCoy"
										nickname = "Sam-X-99"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "04-90x60"
										name     = "Mark Jhonson"
										nickname = "Crazzzy_80"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--defense">
										<use xlink:href="assets/img/necromancers.svg#defense"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Valholl</td>
								<td class="td-d-none-sm td-center-right">Valkyrine</td>
								<td>
									<svg role="img" class="df-icon df-icon--offense">
										<use xlink:href="assets/img/necromancers.svg#offense"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Todd Gryson"
										nickname = "SHARK_BULLET"
									}}
								</td>
							</tr>
							<tr>
								<td>
									{{> _match-player
										color    = "team-1"
										player   = "05-90x60"
										name     = "Sarah Stacy"
										nickname = "FAYEDBEBOP"
									}}
								</td>
								<td>
									<svg role="img" class="df-icon df-icon--tank">
										<use xlink:href="assets/img/necromancers.svg#tank"/>
									</svg>
								</td>
								<td class="td-d-none-sm td-center-left">Grimdeath</td>
								<td class="td-d-none-sm td-center-right">Piedad</td>
								<td>
									<svg role="img" class="df-icon df-icon--support">
										<use xlink:href="assets/img/necromancers.svg#support"/>
									</svg>
								</td>
								<td>
									{{> _match-player
										color    = "team-2"
										player   = "unknow-right-90x60"
										name     = "Mary Parker"
										nickname = "The Destroy"
									}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>
