<!-- Content
================================================== -->
<main class="site-content account-page" id="wrapper">
	<div class="account-navigation">
		<div class="account-navigation__header">
			<a class="account-navigation__logout" href="./">
				<svg role="img" class="df-icon df-icon--logout-circle">
					<use xlink:href="assets/img/necromancers.svg#logout-circle"/>
				</svg>
				<svg role="img" class="df-icon df-icon--logout-arrow">
					<use xlink:href="assets/img/necromancers.svg#logout-arrow"/>
				</svg>
			</a>
			<a class="account-navigation__avatar" href="#">
				<img src="assets/img/samples/account-user-avatar-lg.jpg" alt="">
				<span class="account-navigation__browse-icon">&nbsp;</span>
			</a>
			<div class="account-navigation__subtitle">Welcome back!</div>
			<div class="account-navigation__name h5">James Spiegel</div>
			<ul class="account-navigation__meta">
				<li>27<span>comments</span></li>
				<li>4<span>reviews</span></li>
				<li>1<span>orders</span></li>
			</ul>
		</div>
		<ul class="account-navigation__menu">
			<li><a href="shop-account-settings.html">Account settings</a></li>
			<li><a href="shop-account-shipping.html">Shipping details</a></li>
			<li><a href="shop-account-billing.html">Billing details</a></li>
			<li><a class="active" href="shop-account-orders.html">Orders history</a></li>
		</ul>
	</div>
	<div class="account-content">
		<h2 class="h4">04. Orders history</h2>
		<ul class="account-orders">
			<li class="account-order">
				<div class="account-order__header">
					<div class="row">
						<div class="col-sm-9">
							<div class="row">
								<div class="account-order__id col-sm-6">
									<span class="account-order__label">Order ID</span>
									NCR4523685XF56
								</div>
								<div class="account-order__status col-sm-6">
									<span class="account-order__label">Status</span>
									<span class="color-success">In Progress</span>
								</div>
							</div>
						</div>
						<div class="account-order__date col-sm-3">
							<span class="account-order__label">Date</span>
							August 14th, 2018
						</div>
					</div>
				</div>
				<div class="account-order__details">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<h6 class="account-order__title">Shipping Details</h6>
							<div>
								James Spiegel </br><a href="mailto:#">jspiegel@yourmail.com</a> </br>555-2658-2658
							</div>
							<div>
								Fake Street 1234, Apt 34 LongInsland, NY 10001
								United States
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<h6 class="account-order__title">Bildivng Details</h6>
							<div>
								James Spiegel </br><a href="mailto:#">jspiegel@yourmail.com</a> </br>555-2658-2658
							</div>
							<div>
								Fake Street 1234, Apt 34 LongInsland, NY 10001
								United States
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<h6 class="account-order__title">Your Order</h6>
							<div>
								Magimons Black Frame Print</br>
								x1 $38.00</br>
								Necromancers Men's T-Shirt</br>
								x2 $49.98</br>
								NEcromancers Ennamel Mug</br>
								x1 $15.00
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<h6 class="account-order__title">Totals and payment</h6>
							<div>
								Cart Subtotal $103.98</br>
								Estimated Shipping $14.00</br>
								Taxes $5.00</br>
								Promo Code -$10.00</br>
								Order Total $112.98
							</div>
							<div>
								Direct Bank Transfer</br>
								Bank of the Republick</br>
								Account XXXX-XXXX-1234</br>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</main>
