<!-- Footer
================================================== -->
<footer id="footer" class="footer text-center">
	<ul class="social-menu social-menu--landing social-menu--landing-glitch">
		{{#each content.footer.social}}
		<li>
			<a href="{{url}}" target="_blank">
				<i class="{{icon}}"></i>
				<span class="link-subtitle">{{subtitle}}</span>{{title}}
			</a>
		</li>
		{{/each}}
	</ul>
</footer>
<!-- Footer / End -->
