<!-- Search Panel -->
<div class="search-panel">
	<div class="search-panel__content">
		<form action="#" id="header-search-form" class="search-form search-form--header">
			<input type="text" class="form-control" value="" placeholder="What are you looking for...?">
		</form>
		<span>Write what you are looking for, choose the filters and press enter to begin your search!</span>
	</div>
</div>
<!-- Search Panel / End -->