<!-- Widget: Contact Info -->
<section class="widget widget-contact-info">
	<h5 class="widget__title">Contact Info</h5>
	<div class="widget__content">
		<p>
			If you have any questions, just send us and email and don’t forget to follow and like all our social accounts to keep updated!
		</p>
		<div class="info-box">
			<div class="info-box__label">General inquiries</div>
			<div class="info-box__content"><a href="mailto:#">inquiries<span class="color-primary">@</span>necromancers.com</a></div>
		</div>
		<ul class="social-menu social-menu--default">
			<li><a href="https://www.facebook.com/danfisher.dev/"></a></li>
			<li><a href="https://twitter.com/danfisher_dev"></a></li>
			<li><a href="https://twitch.com"></a></li>
			<li><a href="https://discord.gg/xxxx"></a></li>
		</ul>
	</div>
</section>
<!-- Widget: Contact Info / End -->
