<!-- Widget: Partners Carousel -->
<section class="widget widget-partners-carousel">
	<h5 class="widget__title">Our Partners</h5>
	<div class="widget__content">
		<ul>
			{{#each content.partners.small}}
			<li>
				<img src="{{img}}" alt="">
			</li>
			{{/each}}
		</ul>
	</div>
</section>
<!-- Widget: Partners Carousel / End -->
