<!-- Cart Panel -->
<div class="cart-panel">
	<h4 class="cart-panel__title text-white">Shopping Cart (<span class="cart-panel__items-count">4</span>)</h4>
	<div class="cart-panel__content">
		<div class="table-responsive">
			<table class="table shop-table">
				<thead>
					<tr>
						<th class="product__info">Product</th>
						<th class="product__quantity">Quantity</th>
						<th class="product__total">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="product__info">
							<figure class="product__thumb">
								<a href="#"><img src="assets/img/cart-panel-img-01.jpg" alt=""></a>
							</figure>
							<div class="product__info-content">
								<h5 class="product__name"><a href="#">Magimons Black Frame Print</a></h5>
								<span class="product__cat">Framed Prints</span>
								<span class="product__info-details">24"x12" | Glossy</span>
							</div>
						</td>
						<td class="product__quantity">
							<div class="quantity-control">
								<button class="quantity-control__minus">&nbsp;</button>
								<input type="number" step="1" value="1" size="4">
								<button class="quantity-control__plus">&nbsp;</button>
							</div>
						</td>
						<td class="product__total"><span class="product__total-currency">$</span>38.00</td>
						<td class="product__remove"><a href="#" class="product__remove-icon"></a></td>
					</tr>
					<tr>
						<td class="product__info">
							<figure class="product__thumb">
								<a href="#"><img src="assets/img/cart-panel-img-02.jpg" alt=""></a>
							</figure>
							<div class="product__info-content">
								<h5 class="product__name"><a href="#">Necromancers Men's T-Shirt</a></h5>
								<span class="product__cat">Clothing</span>
								<span class="product__info-details">Black | Medium</span>
							</div>
						</td>
						<td class="product__quantity">
							<div class="quantity-control">
								<button class="quantity-control__minus">&nbsp;</button>
								<input type="number" step="1" value="2" size="4">
								<button class="quantity-control__plus">&nbsp;</button>
							</div>
						</td>
						<td class="product__total"><span class="product__total-currency">$</span>49.98</td>
						<td class="product__remove"><a href="#" class="product__remove-icon"></a></td>
					</tr>
					<tr>
						<td class="product__info">
							<figure class="product__thumb">
								<a href="#"><img src="assets/img/cart-panel-img-03.jpg" alt=""></a>
							</figure>
							<div class="product__info-content">
								<h5 class="product__name"><a href="#">Necromancers Ennamel Mug</a></h5>
								<span class="product__cat">Coffee Mugs</span>
								<span class="product__info-details">White</span>
							</div>
						</td>
						<td class="product__quantity">
							<div class="quantity-control">
								<button class="quantity-control__minus">&nbsp;</button>
								<input type="number" step="1" value="1" size="4">
								<button class="quantity-control__plus">&nbsp;</button>
							</div>
						</td>
						<td class="product__total"><span class="product__total-currency">$</span>16.00</td>
						<td class="product__remove"><a href="#" class="product__remove-icon"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="cart-panel__totals">
			<div class="table-responsive">
				<table class="table">
					<tfoot>
						<tr class="cart-panel__subtotal">
							<th>Cart Subtotal</th>
							<td>
								<span class="amount"><span class="amount-currency">$</span>103.98</span>
							</td>
						</tr>
						<tr class="cart-panel__shipping">
							<th>Estimated Shipping</th>
							<td><span class="amount"><span class="amount-currency">$</span>14.00</span></td>
						</tr>
						<tr class="cart-panel__order-total">
							<th>Cart Total</th>
							<td><span class="amount"><span class="amount-currency">$</span>117.98</span></td>
						</tr>
						</tfoot>
				</table>
				<a href="shop-checkout.html" class="btn btn-primary">Go to checkout</a>
			</div>
		</div>
	</div>
</div>
<!-- Cart Panel / End -->